# LFMC Estimation Experiment
Notebook to test LFMC modelling code changes

In [1]:
import os
# import json
# import numpy as np
# import pandas as pd

import initialise
import common
from modelling_functions import run_experiment
from architecture_transfer import model_params
from scenarios import europe_scenario
from model_parameters import ExperimentParams

## Directories and Input files
Change these settings as required
- `input_dir`: Directory containing the data extracted from GEE and Globe-LFMC, the outputs from running the `Extract DEM Data.ipynb` and `Extract MODIS Data.ipynb` notebooks.
- `output_dir`: A sub-directory called `model_params['modelName']` (`Scenario_A`) will be created in this directory, where all outputs generated by this notebook will be written. 
- `temp_dir`: A temporary directory where model checkpoints are created. This directory should exist and be empty.
- `modis_csv`: The file containing extracted MODIS data for each sample, created by `Extract MODIS Data.ipynb`
- `prism_csv`: The file containing extracted PRISM data for each sample, created by `Extract PRISM Data.ipynb`
- `aux_csv`: The file containing extracted sample labels, DEM, climate zone and other auxiliary data, created by `Extract Auxiliary Data.ipynb`.

In [2]:
modis_csv = os.path.join(common.DATASETS_DIR, 'europe_modis_365days.csv')
era5_csv = os.path.join(common.DATASETS_DIR, 'europe_era5_365days.csv')
aux_csv = os.path.join(common.DATASETS_DIR, 'europe_samples_365days.csv')

## Set up experiment parameters
If the experiment dictionary contains a 'tests' key that is not 'falsy' (False, None, 0, empty list) it is assumed to be a list of tests to run. Each test will run with the specified model parameters. Model parameters not specified will be the same for each test, as set in the main model_params dictionary. A failed run can be restarted by setting the 'restart' key to the test that failed. This test and the remaining tests will then be run.

If 'tests' is 'falsy' then a single test will be run using the parameters in the main model_params dictionary.

For more help, after running this cell run `experiment.help()` or `experiment.help('<parameter>')`

In [7]:
experiment = ExperimentParams({
    'name': 'europe_200_adabn_cn',
    'description': 'Europe: pretrained on CONUS; Adapt BN layers; 200 training samples',
    'tests': [],
    'restart': None, 
    'rerun': None,
    'resumeAllTests': False,
})

folds_dir = os.path.join(common.MODELS_DIR, 'europe_gen-folds')
pretrained_dir = os.path.join(common.MODELS_DIR, 'conus_base_models')

seeds = [9013, 1815, 5313, 3945, 3632, 3875, 1782, 1393, 3708, 2914,
         4522, 3368, 6379, 3009, 3806, 6579, 4075, 1056, 5261, 4752]
for n, s in enumerate(seeds):
    experiment['tests'].append({
        'testName': f'Ensemble {n+1}', 'randomSeed': s,
        'loadFolds': os.path.join(folds_dir, f'test{n}'),
        'pretrainedModel': os.path.join(pretrained_dir, f'test{n}')})

# Display experiment details
#experiment

## Set up model parameters
Set up and customise the model parameters. Leave all parameters as set here to run Scenario A. To find out more about any parameter, run `model_params.help('<parameter>')` after running this cell to create the ModelParams object.

In [4]:
# Customize model parameters
model_params['modelName'] = experiment['name']
model_params['description'] = experiment['description']
model_params['modelDir'] = os.path.join(common.MODELS_DIR, model_params['modelName'])
model_params['samplesFile'] = aux_csv
model_params['samplesFilter'] = {'apply': 'train', 'method': 'random', 'params': [200]}
europe_scenario(model_params)

# Transfer learning parameters
model_params['transferModel'] = {'method': 'adabn'}
model_params['commonNormalise'] = True # False

# Other parameters
model_params['epochs'] = 1
model_params['evaluateEpochs'] = 1

# Multiprocessing parameters
# model_params['enableXla'] = False #True
model_params['mixedPrecision'] = None
model_params['maxWorkers'] = 4     # Number of workers (parallel processes)
model_params['gpuList'] = [0]    # List of GPUs to use
model_params['gpuMemory'] = 512     # GPU memory for each worker

model_params

{'modelName': 'europe_200_adabn_cn',
 'testName': None,
 'test': None,
 'run': None,
 'fold': None,
 'description': 'Europe: pretrained on CONUS; Adapt BN layers; all training samples',
 'modelClass': 'LfmcTempCnn',
 'modelDir': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Models\\europe_200_adabn_cn',
 'tempDir': 'C:\\Temp\\LFMC',
 'diagnostics': False,
 'restartRun': None,
 'derivedModels': None,
 'saveModels': False,
 'saveFolds': True,
 'saveRunResults': False,
 'saveTrain': None,
 'saveValidation': False,
 'plotModel': True,
 'randomSeed': 1234,
 'modelSeed': 1234,
 'modelRuns': 20,
 'resplit': False,
 'seedList': [441,
  780,
  328,
  718,
  184,
  372,
  346,
  363,
  701,
  358,
  566,
  451,
  795,
  237,
  788,
  185,
  397,
  530,
  758,
  633],
 'maxWorkers': 4,
 'asyncRuns': True,
 'deterministic': False,
 'gpuDevice': 0,
 'gpuList': [0],
 'gpuMemory': 512,
 'dataSources': ['optical', 'weather', 'aux'],
 'sourceNames': None,
 'deduplicate': False,
 'inputs': {},
 'samplesFile': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Datasets\\europe_samples_365days.csv',
 'samplesFilter': {'apply': 'train', 'method': 'random', 'params': [200]},
 'auxColumns': ['Long_sin', 'Long_cos', 'Lat_norm'],
 'auxAugment': True,
 'auxOneHotCols': ['Czone3'],
 'targetColumn': 'LFMC value',
 'targetTransform': None,
 'targetNormalise': {'method': 'standard'},
 'targetMap': None,
 'classify': False,
 'numClasses': 0,
 'blocks': {'opticalConv': [{'filters': 8,
    'kernel': 5,
    'stride': 1,
    'dilation': 1,
    'bnorm': True,
    'poolSize': 2},
   {'filters': 8,
    'kernel': 5,
    'stride': 1,
    'dilation': 1,
    'bnorm': True,
    'poolSize': 3},
   {'filters': 8,
    'kernel': 5,
    'stride': 1,
    'dilation': 1,
    'bnorm': True,
    'poolSize': 4}],
  'weatherConv': [{'filters': 8,
    'kernel': 5,
    'stride': 1,
    'dilation': 1,
    'bnorm': True,
    'poolSize': 2},
   {'filters': 8,
    'kernel': 5,
    'stride': 1,
    'dilation': 1,
    'bnorm': True,
    'poolSize': 3},
   {'filters': 8,
    'kernel': 5,
    'stride': 1,
    'dilation': 1,
    'bnorm': True,
    'poolSize': 4}],
  'fc': [{'units': 128, 'bnorm': True}]},
 'splitMethod': 'byValue',
 'testSize': 0,
 'valSize': 0,
 'splitColumn': 'Group2',
 'splitStratify': None,
 'splitYear': 2014,
 'splitFolds': 4,
 'splitMax': True,
 'testFolds': 1,
 'yearColumn': 'Sampling year',
 'yearFolds': 3,
 'testAllYears': False,
 'trainAdjust': 0,
 'testAdjust': 0,
 'testSources': None,
 'trainSources': None,
 'loadFolds': None,
 'reweightSource': None,
 'dannWeight': 0,
 'pretrainedModel': None,
 'transferModel': {'method': 'adabn'},
 'onehotEncoder': None,
 'commonNormalise': True,
 'convPadding': 'same',
 'poolPadding': 'valid',
 'batchNormalise': True,
 'dropoutRate': 0,
 'regulariser': 'keras.regularizers.l2(1.e-6)',
 'earlyStopping': False,
 'epochs': 1,
 'evaluateEpochs': 1,
 'batchSize': 512,
 'shuffle': True,
 'verbose': 0,
 'tensorBoard': False,
 'optimiser': 'adam',
 'activation': 'relu',
 'initialiser': 'he_normal',
 'loss': 'mean_squared_error',
 'metrics': ['mean_absolute_error'],
 'checkpoint': False,
 'enableXla': False,
 'mixedPrecision': None,
 'stepsPerExec': 100}

In [5]:
model_params.add_input('optical', {'filename': modis_csv, 'channels': 7})
model_params.add_input('weather', {'filename': era5_csv, 'channels': 7})
model_params['inputs']

{'optical': {'filename': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Datasets\\europe_modis_365days.csv',
  'normalise': {'method': 'minMax', 'percentiles': 2},
  'channels': 7,
  'includeChannels': [],
  'start': None,
  'end': None},
 'weather': {'filename': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Datasets\\europe_era5_365days.csv',
  'normalise': {'method': 'minMax', 'percentiles': 2},
  'channels': 7,
  'includeChannels': [],
  'start': None,
  'end': None}}

## Build and run the models
Builds and trains the LFMC models.

All models, predictions, evaluation statistics, and plots of test results are saved to `model_dir`, with each test and run saved to a separate sub-directory. For each model created, predictions and evaluation statistics are also returned as attributes of the `model` object. These are stored as nested lists, the structure for a full experiment is:
- Tests (omitted if not an experiment)
  - Runs (omitted for a single run)
    - Folds (for k-fold splitting)

In [8]:
models = run_experiment(experiment, model_params)
for model in models:
    display(getattr(model, 'test_stats', None))

===================================================================================================
Experiment europe_200_adabn_cn - Europe: pretrained on CONUS; Adapt BN layers; all training samples
===================================================================================================

Reading samples file G:\My Drive\LFMC Data\Transfer_learning\Datasets\europe_samples_365days.csv
Reading optical file G:\My Drive\LFMC Data\Transfer_learning\Datasets\europe_modis_365days.csv
Reading weather file G:\My Drive\LFMC Data\Transfer_learning\Datasets\europe_era5_365days.csv

----------------------------------------------------------------------

Test 18: Ensemble 19 - {'randomSeed': 5261, 'loadFolds': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Models\\europe_gen-folds\\test18', 'pretrainedModel': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Models\\conus_base_models\\test18'}

Setting target to "LFMC value"
Auxiliary columns: ['Long_sin', 'Long_cos', 'Lat_norm']
One-hot encoded columns: ['Czone3']
Optical input shape: (8398, 365, 7)
Prepared optical shape: (8398, 365, 7)
Weather input shape: (8398, 365, 7)
Prepared weather shape: (8398, 365, 7)
Prepared aux shape: (8398, 18)
Processing result for run 0 after submitting run 1.
Processing result for run 1 after submitting run 2.
Processing result for run 2 after submitting run 3.
Processing result for run 3 after submitting run 4.
Processing result for run 4 after submitting run 5.
Processing result for run 5 after submitting run 6.
Processing result for run 6 after submitting run 7.
Processing result for run 7 after submitting run 8.
Processing result for run 8 after submitting run 9.
Processing result for run 9 after submitting run 10.
Processing result for run 10 after submitting run 11.
Processing result for run 11 after submitting run 12.
Processing result for run 12 after submitting run 13.
Processing result for run 13 after submitting run 14.
Processing result for run 14 after submitting run 15.
Processing result for run 15 after submitting run 16.
Processing result for run 16 after submitting run 17.
Processing result for run 17 after submitting run 18.
Processing result for run 18 after submitting run 19.
Processing result for run 19 after submitting all runs.
Processing epoch epoch0

----------------------------------------------------------------------

Test 19: Ensemble 20 - {'randomSeed': 4752, 'loadFolds': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Models\\europe_gen-folds\\test19', 'pretrainedModel': 'G:\\My Drive\\LFMC Data\\Transfer_learning\\Models\\conus_base_models\\test19'}

Setting target to "LFMC value"
Auxiliary columns: ['Long_sin', 'Long_cos', 'Lat_norm']
One-hot encoded columns: ['Czone3']
Optical input shape: (8398, 365, 7)
Prepared optical shape: (8398, 365, 7)
Weather input shape: (8398, 365, 7)
Prepared weather shape: (8398, 365, 7)
Prepared aux shape: (8398, 18)
Processing result for run 0 after submitting run 1.
Processing result for run 1 after submitting run 2.
Processing result for run 2 after submitting run 3.
Processing result for run 3 after submitting run 4.
Processing result for run 4 after submitting run 5.
Processing result for run 5 after submitting run 6.
Processing result for run 6 after submitting run 7.
Processing result for run 7 after submitting run 8.
Processing result for run 8 after submitting run 9.
Processing result for run 9 after submitting run 10.
Processing result for run 10 after submitting run 11.
Processing result for run 11 after submitting run 12.
Processing result for run 12 after submitting run 13.
Processing result for run 13 after submitting run 14.
Processing result for run 14 after submitting run 15.
Processing result for run 15 after submitting run 16.
Processing result for run 16 after submitting run 17.
Processing result for run 17 after submitting run 18.
Processing result for run 18 after submitting run 19.
Processing result for run 19 after submitting all runs.
Processing epoch epoch0

      Count   RMSE    R2  Bias
base    842  22.85  0.38 -5.42

      Count   RMSE    R2  Bias
base    842  21.76  0.44 -3.08

      Count   RMSE   R2  Bias
base    842  22.48  0.4 -4.45

      Count   RMSE    R2  Bias
base    842  23.53  0.34 -8.34

      Count   RMSE    R2  Bias
base    842  22.79  0.38  -7.6

      Count   RMSE    R2  Bias
base    842  22.78  0.38  -7.3

      Count   RMSE    R2  Bias
base    842  21.97  0.43 -3.76

      Count   RMSE    R2  Bias
base    842  23.13  0.37 -3.28

      Count   RMSE    R2  Bias
base    842  23.33  0.35 -5.51

      Count   RMSE    R2  Bias
base    842  22.27  0.41 -4.99

      Count   RMSE    R2  Bias
base    842  21.34  0.46 -3.98

      Count   RMSE    R2  Bias
base    842  22.16  0.42 -2.77

      Count   RMSE    R2  Bias
base    842  22.25  0.41 -5.84

      Count   RMSE    R2  Bias
base    842  22.77  0.38 -4.67

      Count   RMSE    R2  Bias
base    842  22.96  0.37 -5.04

      Count   RMSE   R2  Bias
base    842  22.57  0.4 -5.47

      Count   RMSE    R2  Bias
base    842  22.34  0.41  -5.7

      Count   RMSE    R2  Bias
base    842  21.98  0.43 -1.69

      Count   RMSE    R2  Bias
base    842  22.22  0.41 -3.79

      Count   RMSE   R2  Bias
base    842  22.49  0.4 -2.24

In [9]:
from display_utils import print_heading
print_heading('Results Summary', line_char='=', blank_before=2, blank_after=0)
for num, model in enumerate(models):
    test = experiment['tests'][num]
    try:
        test_name = test.get('testName', None) or experiment['testNames'][num]
    except:
        test_name = '<unnamed test>'
    print_heading(f'Test {num}: {test_name}', blank_before=1, blank_after=0)
    epochs = getattr(model, 'epoch_test_stats', {})  #bool(model.params['evaluateEpochs'])
    if epochs:
        for epoch, epoch_stats in epochs.items():
            print(f"\n{epoch}:")
            print(epoch_stats)
        print(f"\nFull run: epoch {model.params['epochs']}:")
    print(getattr(model, 'test_stats', None))

Results Summary
===============

Test 0: Ensemble 1
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  40.38 -0.94 -32.32

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.85  0.38 -5.42

Test 1: Ensemble 2
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  37.46 -0.67 -29.08

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  21.76  0.44 -3.08

Test 2: Ensemble 3
------------------

epoch0:
      Count  RMSE    R2   Bias
base    842  37.4 -0.66 -28.41

Full run: epoch 1:
      Count   RMSE   R2  Bias
base    842  22.48  0.4 -4.45

Test 3: Ensemble 4
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  39.45 -0.85 -30.71

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  23.53  0.34 -8.34

Test 4: Ensemble 5
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  29.67 -0.04 -16.71

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.79  0.38  -7.6

Test 5: Ensemble 6
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  35.82 -0.52 -26.85

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.78  0.38  -7.3

Test 6: Ensemble 7
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  33.62 -0.34 -24.21

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  21.97  0.43 -3.76

Test 7: Ensemble 8
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  37.55 -0.67 -27.74

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  23.13  0.37 -3.28

Test 8: Ensemble 9
------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  41.44 -1.04 -33.98

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  23.33  0.35 -5.51

Test 9: Ensemble 10
-------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  38.52 -0.76 -30.38

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.27  0.41 -4.99

Test 10: Ensemble 11
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  38.85 -0.79 -30.75

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  21.34  0.46 -3.98

Test 11: Ensemble 12
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  35.46 -0.49 -25.76

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.16  0.42 -2.77

Test 12: Ensemble 13
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  38.42 -0.75 -30.13

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.25  0.41 -5.84

Test 13: Ensemble 14
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  38.88 -0.79 -30.62

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.77  0.38 -4.67

Test 14: Ensemble 15
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  38.03 -0.72 -29.75

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.96  0.37 -5.04

Test 15: Ensemble 16
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  38.17 -0.73 -30.04

Full run: epoch 1:
      Count   RMSE   R2  Bias
base    842  22.57  0.4 -5.47

Test 16: Ensemble 17
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  34.49 -0.41 -25.48

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.34  0.41  -5.7

Test 17: Ensemble 18
--------------------

epoch0:
      Count   RMSE    R2  Bias
base    842  32.06 -0.22 -20.1

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  21.98  0.43 -1.69

Test 18: Ensemble 19
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  34.28 -0.39 -24.94

Full run: epoch 1:
      Count   RMSE    R2  Bias
base    842  22.22  0.41 -3.79

Test 19: Ensemble 20
--------------------

epoch0:
      Count   RMSE    R2   Bias
base    842  30.64 -0.11 -18.18

Full run: epoch 1:
      Count   RMSE   R2  Bias
base    842  22.49  0.4 -2.24