In [45]:
import os
import numpy as np
import pandas as pd

import initialise
import common
from data_extract_utils import sort_key

In [29]:
SITES_OLD = os.path.join(common.DATASETS_DIR, 'LFMC_australia_sites_v1.csv')
SAMPLES_OLD = os.path.join(common.DATASETS_DIR, 'LFMC_australia_samples_v1.csv')
SITES_NEW = os.path.join(common.DATASETS_DIR, 'LFMC_australia_sites.csv')
SAMPLES_NEW = os.path.join(common.DATASETS_DIR, 'LFMC_australia_samples.csv')
SAMPLES_FILE = os.path.join(common.DATASETS_DIR, 'australia_samples_365days.csv')

In [41]:
sites_old = pd.read_csv(SITES_OLD, index_col=0)
samples_old = pd.read_csv(SAMPLES_OLD, index_col=0)
sites_new = pd.read_csv(SITES_NEW, index_col=0)
samples_new = pd.read_csv(SAMPLES_NEW, index_col=0)

In [20]:
samples_new.columns

Index(['Latitude', 'Longitude', 'Sampling date', 'Sampling year',
       'LC Category', 'Land Cover', 'LFMC value', 'Site', 'Czone1', 'Czone2',
       'Czone3', 'Group1', 'Group2', 'Day_sin', 'Day_cos', 'Long_sin',
       'Long_cos', 'Lat_norm', 'Elevation', 'Slope', 'Aspect_sin',
       'Aspect_cos'],
      dtype='object')

In [21]:
samples_old.columns

Index(['Latitude', 'Longitude', 'Sampling date', 'Sampling year',
       'LC Category', 'Land Cover', 'LFMC value', 'Site', 'Czone1', 'Czone2',
       'Czone3', 'Day_sin', 'Day_cos', 'Long_sin', 'Long_cos', 'Lat_norm',
       'Elevation', 'Slope', 'Aspect_sin', 'Aspect_cos'],
      dtype='object')

In [22]:
(samples_old == samples_new[samples_old.columns]).all()

Latitude         True
Longitude        True
Sampling date    True
Sampling year    True
LC Category      True
Land Cover       True
LFMC value       True
Site             True
Czone1           True
Czone2           True
Czone3           True
Day_sin          True
Day_cos          True
Long_sin         True
Long_cos         True
Lat_norm         True
Elevation        True
Slope            True
Aspect_sin       True
Aspect_cos       True
dtype: bool

In [24]:
(samples_old.index == samples_new.index).all()

True

In [30]:
samples = pd.read_csv(SAMPLES_FILE, index_col=0)

In [35]:
samples.shape

(390, 22)

In [36]:
samples_new.shape

(390, 22)

In [46]:
samples_new = samples_new.sort_values('ID', key=lambda x: x.apply(sort_key))

In [47]:
(samples == samples_new).all()

Latitude          True
Longitude         True
Sampling date    False
Sampling year     True
LC Category       True
Land Cover        True
LFMC value        True
Site              True
Czone1            True
Czone2            True
Czone3            True
Group1           False
Group2           False
Day_sin           True
Day_cos           True
Long_sin          True
Long_cos          True
Lat_norm          True
Elevation         True
Slope             True
Aspect_sin        True
Aspect_cos        True
dtype: bool

In [48]:
samples['Sampling date']

ID
C10_1_1     20/10/2008
C10_1_2     10/11/2008
C10_1_3      1/12/2008
C10_1_4     19/01/2009
C10_2_1      5/01/2006
               ...
C18_3_22    23/12/2015
C18_3_25    18/01/2016
C18_3_28    16/02/2016
C18_3_31     2/09/2016
C18_3_34     1/11/2016
Name: Sampling date, Length: 390, dtype: object

In [49]:
samples_new['Sampling date']

ID
C10_1_1     2008-10-20
C10_1_2     2008-11-10
C10_1_3     2008-12-01
C10_1_4     2009-01-19
C10_2_1     2006-01-05
               ...
C18_3_22    2015-12-23
C18_3_25    2016-01-18
C18_3_28    2016-02-16
C18_3_31    2016-09-02
C18_3_34    2016-11-01
Name: Sampling date, Length: 390, dtype: object

In [62]:
samples_new.groupby('Group1').size().sort_values()

Group1
AU_YL      1
AU_QL      1
AU_BY      1
AU_GR      3
AU_TK      4
AU_DY      6
AU_BF      6
AU_BE      7
AU_CW     11
AU_SR     13
AU_DD     18
AU_PS     18
AU_VG     18
AU_FT     19
AU_WV     22
AU_VR     52
AU_RG     76
AU_DB    114
dtype: int64

In [63]:
samples.groupby('Group1').size().sort_values()

Group1
CT      1
KX      1
MG      1
TM      3
CC      4
UZ      5
WM      6
YF      6
RG      7
XV     11
FS     13
RC     14
MI     18
TQ     18
LZ     18
EF     22
VL     52
KF     76
NY    114
dtype: int64

In [76]:
europe_samples = pd.read_csv(os.path.join(common.DATASETS_DIR, 'europe_samples_365days.csv'), index_col=0)

In [77]:
europe_samples.columns

Index(['Latitude', 'Longitude', 'Sampling date', 'Sampling year',
       'LC Category', 'Land Cover', 'LFMC value', 'Site', 'Czone1', 'Czone2',
       'Czone3', 'Group1', 'Group2', 'Day_sin', 'Day_cos', 'Long_sin',
       'Long_cos', 'Lat_norm', 'Elevation', 'Slope', 'Aspect_sin',
       'Aspect_cos'],
      dtype='object')

In [82]:
europe_samples[['Latitude', 'Longitude', 'Czone3', 'Group2']].round().drop_duplicates().sort_values('Group2')

           Latitude  Longitude Czone3 Group2
ID
C9_23_179      43.0        6.0    Csa     AS
C9_29_171      44.0        4.0    Csa     AS
C9_37_199      44.0        6.0    Csa     AS
C9_17_1        44.0        5.0    Csa     AS
C2_23_1        41.0       -4.0    BSk     BJ
C2_44_1        41.0       -3.0    BSk     BJ
C2_50_1        38.0       -4.0    Csa     BO
C2_13_1        41.0       -1.0    Cfb     DO
C2_59_1        43.0       -8.0    Cfb     EC
C2_52_1        44.0       -8.0    Cfb     EC
C2_19_1        41.0       -4.0    Csa     EU
C8_1_1         40.0       -6.0    BSk     FI
C2_70_89       39.0       -5.0    BSk     FI
C2_66_116      39.0       -4.0    BSk     FI
C15_1_1        41.0        1.0    Csb     FK
C2_39_1        41.0       -2.0    Csb     FT
C9_22_153      44.0        4.0    Csb     HZ
C9_41_141      44.0        5.0    Csb     HZ
C9_30_188      43.0        2.0    Cfa     IA
C2_64_1        38.0       -6.0    Csa     IG
C2_4_1         37.0       -5.0    Csa     IG
C2_2_1         38.0       -2.0    BSk     IX
C9_21_132      44.0        3.0    Csb     JD
C9_38_1        44.0        4.0    Csa     JW
C9_24_188      43.0        3.0    Csa     JW
C2_30_1        38.0       -4.0    Csa     LE
C2_27_1        41.0       -5.0    Csb     LY
C2_28_1        41.0       -4.0    Csb     LY
C9_40_154      44.0        4.0    Csa     MX
C9_3_200       44.0        7.0    Csa     ND
C9_11_125      42.0        9.0    Csb     ND
C9_25_168      43.0        6.0    Csa     ND
C9_10_1        42.0        9.0    Csa     NL
C9_8_120       44.0        4.0    Cfb     NV
C2_32_1        41.0       -2.0    Cfb     OL
C9_32_187      44.0        6.0    Cfa     PF
C9_6_1         44.0        4.0    Cfa     PF
C9_7_131       42.0        9.0    Csa     PW
C9_18_41       43.0        9.0    Csa     PW
C9_4_120       44.0        6.0    Dfb     QM
C2_58_1        43.0       -8.0    Csb     QZ
C2_53_1        43.0       -7.0    Csb     QZ
C2_63_1        38.0       -2.0    BSk     SL
C2_1_1         39.0       -2.0    BSk     SL
C2_74_1        39.0       -1.0    BSk     SL
C2_10_1        41.0       -1.0    BSk     SY
C2_49_1        37.0       -7.0    Csa     UA
C2_47_1        37.0       -6.0    Csa     UA
C2_22_1        41.0       -4.0    BSk     WG
C2_29_1        41.0       -5.0    BSk     WG
C2_18_1        40.0       -4.0    BSk     WG
C2_14_1        42.0       -0.0    Cfb     XR
C2_6_1         42.0       -1.0    Cfb     XR
C9_34_155      44.0        6.0    Csb     YU
C9_19_1        43.0        6.0    Csb     YU
C2_26_1        41.0       -4.0    Cfb     ZZ

In [83]:
australia_samples = pd.read_csv(os.path.join(common.DATASETS_DIR, 'australia_samples_365days.csv'), index_col=0)

In [84]:
australia_samples[['Latitude', 'Longitude', 'Czone3', 'Group2']].round().drop_duplicates().sort_values('Group2')

          Latitude  Longitude Czone3 Group2
ID
C18_2_1      -36.0      149.0    Cfb     AK
C10_2_1      -35.0      150.0    Cfb     AK
C10_6_1      -35.0      149.0    Cfb     AK
C11_1_1      -36.0      148.0    Cfb     AK
C11_12_1     -34.0      150.0    Cfb     CR
C10_14_1     -35.0      141.0    BSk     EJ
C10_13_1     -17.0      125.0    Aw      FD
C11_6_1      -36.0      147.0    Csb     FF
C11_5_1      -36.0      147.0    Csa     JI
C10_4_1      -38.0      146.0    Cfb     KE
C10_8_1      -38.0      145.0    Cfb     KE
C10_19_1     -34.0      116.0    Csb     KG
C10_9_1      -26.0      122.0    BWh     KI
C11_15_1     -33.0      151.0    Cfa     OB
C11_2_1      -34.0      151.0    Cfa     OB
C11_11_1     -37.0      145.0    Cfb     OM
C10_1_1      -38.0      144.0    Cfb     OM
C11_18_1     -37.0      144.0    Cfb     OM
C10_16_1     -16.0      128.0    BSh     TG
C10_11_1     -35.0      150.0    Cfb     WL
C11_14_1     -34.0      150.0    Cfb     WL
C10_7_1      -43.0      147.0    Cfb     YB
C11_8_1      -38.0      149.0    Cfb     YQ
C10_17_1     -17.0      125.0    BSh     YZ
C10_5_1      -34.0      118.0    Csb     ZJ

In [88]:
europe_samples[['Site', 'Latitude', 'Longitude', 'Czone3', 'Group2']][europe_samples.Group2 == 'ND'].groupby(
    ['Site', 'Latitude', 'Longitude', 'Czone3']).count()

                                 Group2
Site  Latitude Longitude Czone3
C9_11 41.73542 9.00921   Csb        266
C9_25 43.47708 6.48557   Csa        277
C9_3  43.53958 6.90039   Csa        266
C9_33 43.61875 6.94400   Csa        265
C9_35 43.83542 7.34463   Csa        265

In [93]:
europe_samples[europe_samples.Site=='C9_11'].groupby('Sampling year').size()

Sampling year
2001    20
2002     8
2003    17
2004    17
2005    18
2006    20
2007    25
2008    22
2009    17
2010    26
2011    15
2012    15
2013     9
2014    11
2015    14
2016    12
dtype: int64

In [108]:
europe_samples.groupby('Group2').size().sort_values()

Group2
LE       2
UA       3
OL       3
BO       4
IX       4
FK       7
FT       7
IG      11
SL      12
EC      15
EU      15
QZ      18
ZZ      23
BJ      33
DO      40
SY      40
LY      47
WG     105
XR     139
QM     177
NV     190
JD     212
NL     217
MX     219
IA     255
PF     301
HZ     380
YU     507
FI     565
PW     659
JW    1191
ND    1339
AS    1658
dtype: int64

In [96]:
australia_samples.groupby('Group2').size().sort_values()

Group2
ZJ      1
YB      1
WL      6
KG      7
CR      9
YQ      9
FD      9
JI      9
KI     11
KE     13
YZ     13
TG     14
FF     15
EJ     18
OM     22
OB     43
AK    190
dtype: int64

In [106]:
australia_samples[['Latitude', 'Longitude', 'Group2']].drop_duplicates().sort_values('Group2')

          Latitude  Longitude Group2
ID
C10_21_1 -35.20625  149.02369     AK
C18_1_1  -35.27708  149.05183     AK
C11_16_1 -35.65625  148.15114     AK
C11_1_1  -35.64792  148.15107     AK
C18_2_1  -35.59792  148.81685     AK
C10_20_1 -35.41875  148.95045     AK
C10_12_1 -35.30625  149.17192     AK
C10_10_1 -35.27708  149.19474     AK
C18_3_1  -35.60625  148.86310     AK
C10_2_1  -35.40625  149.80151     AK
C10_3_1  -35.41875  149.78896     AK
C10_6_1  -35.36875  149.05740     AK
C11_17_1 -33.74375  150.38789     CR
C11_12_1 -33.68958  150.23295     CR
C10_14_1 -35.23958  141.22344     EJ
C10_15_1 -35.23958  141.21323     EJ
C10_13_1 -17.03125  125.11829     FD
C11_13_1 -36.13958  147.33528     FF
C11_6_1  -36.26875  146.64838     FF
C11_5_1  -36.13125  146.61286     JI
C10_4_1  -38.22708  145.56676     KE
C10_8_1  -38.08958  145.43017     KE
C10_19_1 -34.21875  116.38647     KG
C10_9_1  -26.16458  121.56263     KI
C11_2_1  -33.65625  150.61524     OB
C11_3_1  -33.66042  150.61753     OB
C11_4_1  -33.61042  150.64018     OB
C11_7_1  -33.61458  150.72251     OB
C11_15_1 -33.13125  150.70331     OB
C11_18_1 -37.42292  144.09406     OM
C11_11_1 -37.47708  145.23275     OM
C10_1_1  -37.63542  144.22103     OM
C10_16_1 -15.58542  128.23378     TG
C11_14_1 -34.06458  150.46704     WL
C10_11_1 -35.26875  150.40931     WL
C10_7_1  -42.84792  147.48628     YB
C11_9_1  -37.56875  149.11210     YQ
C11_8_1  -37.65208  148.81615     YQ
C11_10_1 -37.60625  148.90849     YQ
C10_18_1 -17.13125  125.37289     YZ
C10_17_1 -17.06458  125.26265     YZ
C10_5_1  -33.68125  117.61153     ZJ